/* .box {
    background-color: rgb(8, 163, 44);
    background-image: url("https://png.pngtree.com/background/20230526/original/pngtree-3d-black-hexagon-mesh-background-with-lighting-picture-image_2745056.jpg");
} */


/* header{
    max-width: 60vw;
    height: 100vh;
} */

header .main , .main nav{
    flex-direction: column;
     align-items: flex-start;
}

header .main .logo {
    width: 100%;

}
 header .menu .btn{
    display: inline-block;
}



header .main nav{
gap: 5px;
width: 100%;
display: none;
}

header .menu:hover nav{
display: flex;

}
header .main nav  .sm{
display: block;
}
header .main nav  .lg{
display: none;
}
header .main nav a {
 width: 100%;
}


/* ///////////////////// hero section */

.hero .main{
    flex-direction: column-reverse;
}