/* .box {
    background-color: rgb(22, 25, 189);
} */



.hero .heroImg{
    width:100%;
}
 .hero .content{
    width: 100%;
}

.servics .cards , .faqs .questions, footer .main{
      padding: 2em;
}

/* .btns{
    display: flex;
    flex-direction: column;
    gap: 2em;
} */