* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.box {
    max-width: 100vw;
    height: 400px;
    background: #333333;
    /* fallback for old browsers */
    background: linear-gradient(to top, #dd1818, #333333);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}