/* p:nth-child(1){  /// kisi bhi type ka element
background-color: blueviolet;
} */

/* p:nth-of-type(1){ //// specific type  
background-color: blueviolet;
} */


*{
    margin: 0;padding: 0;box-sizing: border-box;
}

.grid{
  min-height: 80vh;
  width: 100vw;
  background-color: brown;
  display: grid;
  /* grid-template-columns: 350px 350px 550px 350px ; */
  /* grid-template-columns: 2fr 350px  1fr 350px ; */
  /* grid-template-columns: 1fr repeat(3 , 350px) 1fr  ; */
  /* grid-template-rows: 400px 1fr; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 70px   80vh 10vh ; */
   /* row-gap: 50px;
   column-gap: 100px; */
   /* gap: 50px 100px; */
   /* grid-template-columns: repeat(4, 400px); */
   grid-template-columns: repeat(auto-fit, minmax(400px , 1fr) );
   gap: 50px;
   justify-content: center;
   /* justify-items: center; */
   /* align-items: end; */
   align-content:center;
   /* justify-content: center; */
} 


.box{
  height: 300px;
  width: 300px;
  background-color: rgb(207, 77, 77);
}